@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply flex items-center justify-center w-10 h-10 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 transition-colors duration-200 cursor-pointer;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}